.album-main-wrapper{
    display: flex;
    height: 200px;
    background: #545;
}
.album-main-firstHalf{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 30px 30px;
    flex-grow: 1;
}
.album-main-secondHalf{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 30px 30px 0;
    flex-grow: 1;
}