
.artist-chartBlock-wrapper{
    display: flex;
    border-bottom: 1px solid black;
    width: 100%;
}

.artist-second-block{
    display: flex;
    width: 100%;
    padding: 10px;
}

.artist-second-block__first-half{
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: center;
}


.artist-second-block__second-half{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}