.album-list{
	list-style: none;
    padding: 0px;
    grid-gap:3vh 3vh;
	display: grid;
	padding-left: 2%;
	padding-right: 2%;
	align-content: space-around;
  	justify-content: space-between;
  	grid-template-columns: 1fr 1fr 1fr;
}
.album-list li {
	display: grid;
	height: 14vw;
	border: 1px solid #333;
}
