
.artist-chartBlock-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 100px;
    border: 1px solid black;
}

.artist-second-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    width: 370px;
    height: 80%;
    border: 1px solid green;
}

.artist-second-block__first-half{
    display: flex;
    justify-content: space-between;
    height: 40px;
    border: 1px solid blue;
}

.artist-second-block__second-half{
    display: flex;
    justify-content: flex-start;
    height: 20px;
    border: 1px solid blue;
}