select {
	appearance: none;
	background-image:url('./img/down-arrow.svg');
}
.select-filter-genres {
	border:none;
    width: 20vw;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.select-filter-genres select {
    padding: 50px 8px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
}

.select-filter-genres select::focus {
    outline: none;
    border:none;
    box-shadow: none;
}
