.music-controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 400px;
}

.music-controls__first-half{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width:50%;
}
.music-controls__second-half{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    flex-direction: row;
}