.artist-preview__block{
    width: 280px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 1px solid black;
    padding-bottom: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    margin:40px;
}

