.loading-round{
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: Round 2s linear infinite;
}


@keyframes Round{
    from{
        transform: rotate3d(0,0,1,-180deg);
    }
    to{
        transform: rotate3d(0,0,1,180deg);
    }
}