.artistsPage-wrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid green;
}

.artistsPage{
    display:flex;
    height: 70px;
    border: 1px solid brown;
}

.artistsPage-title{
    display:flex;
    justify-content: flex-start;
    padding-left: 150px;
    flex-grow: 4;
    border: 1px solid brown;
}

.artistsPage-filters{
    flex-grow: 1;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid brown;
}

.artistsPage-artistsList{
    align-self: center;
    width: 70%;
}

.PaginationBlock-wrapper{
    width: 11%;
    align-self: center;
}


