
.button-radio{
  width: 50px;
  height: 50px;
}

.button-radio--forward,.button-radio--backward{
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.button-radio--backward{
  transform: rotate(180deg);
}