 @font-face {
  	font-family: Mainfont; /* Имя шрифта */
   	src: url(fonts/font3.otf); /* Путь к файлу со шрифтом */
 }
 @font-face {
  	font-family: Linkfont; /* Имя шрифта */
   	src: url(fonts/font1.ttf); /* Путь к файлу со шрифтом */
 }
 p,
 h1,
 h2,
 h3,
 h4,
 h5 {
 	font-family:  Mainfont;
 	color: #000;
 }

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #EDE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

