
.logo-main-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 100px 0 100px;
    align-items: center;
    height: 100px;
}
.logo-first-half{
    display: flex;
    align-items: center;
}

.logo-second-half{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}