.input-field{
	text-align-last:center;
    width: 30vw;
    height: 20px;
    border-radius:20px;
    font-family: MainFont
}

.input-field:focus {
	color: #FFF;
    outline: none;
    border:none;
    box-shadow: none;
}